<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CRUDdy Cash - Sign In</title>
</head>
<body>
    <%- include('../partials/home-nav.ejs') %>
    <h1>Welcome Back!</h1>
    <form action="/auth/sign-in" method="post">
        <fieldset>
            <legend name="sign-in-legend">Sign In</legend>
            <label for="email">Email:</label>
            <input type="email" name="email">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <button type="submit">Sign In</button>
        </fieldset>
    </form>
</body>
</html>