<header>
    <a href="/" id="site-name">CRUDdy Cash</a>
    
    <label id="hamburger-icon" for="hamburger-button">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <input type="checkbox" id="hamburger-button">
    
    <nav>
        <ul class="menu">
            <li><a href="/" id="site-name">CRUDdy Cash</a></li>
            <li><a href="/auth/new-account">New Account</a></li>
            <li><a href="/auth/sign-in">Sign-in</a></li>
        </ul>
    </nav>
</header>