<nav>
    <a href="/">Home</a>
    <!-- <a href="/budgets">View Budgets</a>
    <a href="/Budgets/new">New Budget</a> -->
    <a href="/auth/new-account">New Account</a>
    <a href="/auth/sign-in">Sign-in</a>
    <!-- <a href="/entries">View Entries</a>
    <a href="/entries/new">New Entry</a> -->
</nav>