<header>
    <a href="/dashboard" id="site-name">CRUDdy Cash</a>
    
    <label id="hamburger-icon" for="hamburger-button">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <input type="checkbox" id="hamburger-button">
    
    <nav>
        <ul class="menu">
            <li><a href="/dashboard" id="site-name">CRUDdy Cash</a></li>
            <li><a href="/user-budgets">Budgets</a></li>
            <li><a href="/user-budgets/new">New Budget</a></li>
            <li><a href="/auth/sign-out">Sign Out</a></li>
        </ul>
    </nav>
</header>

<nav>
    
</nav>