<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>CRUDdy Cash</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h1>Home Page</h1>
        <% if (user) { %>
            <h1>Welcome to the app, <%= user.username %>!</h1>
            <p>
                <a href="/auth/sign-out">Sign Out</a>
            </p>
        <% } else { %>
            <h1>Welcome to the app, guest.</h1>
            <p>
                <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
            </p>
        <% } %>
    </main>
</body>
</html>