* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    min-height: 100vh;
    max-width: 100vw;
    gap: 30px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 64px;
    position: sticky;
    background-color: black;
    padding: 0 10px;
}

#site-name {
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}

#hamburger-icon {
    z-index: 1;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: white;
}

#hamburger-button {
    display: none;
}

#hamburger-button:checked + nav {
    right: 0;
}

nav {
    top: 0;
    position: fixed;
    right: -100vw;
    width: 300px;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 74px;

    overflow: hidden;
    transition: right 0.5s;
    background-color: black;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .menu > li {
        margin: 10px 0;
    }

    .menu > li > a {
        color: white;
        text-align: center;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 20px);
    margin-bottom: 50px;
    gap: 30px;
}

.error-message, #welcome-message {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    min-width: calc(100vw - 30px);
    gap: 10px;
    padding: 10px 25px 15px 25px;
}

fieldset > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

fieldset > button {
    width: 100px;
    align-self: center;
    margin-top: 10px;
}

#create-account {
    width: 130px;
    padding: 5px 10px;
}

button {
    cursor: pointer;
}

.two-line-input {
    flex-direction: column;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    background-color: white;
}

#landing-page-prompt-container {
    width: 100vw;
    background-color: black;
    padding: 20px 0 10px;

    #button-container {
        background-color: black;
    }

    p {
        text-align: center;
        color: white;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 650px) {
    
}
