* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 50px;
}

nav > a {
    text-decoration: none;
    font-weight: 900;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: calc(100% - 20px);
    margin-bottom: 50px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 25px 15px 25px;
}

fieldset > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

fieldset > button {
    width: 100px;
    align-self: center;
    margin-top: 10px;
}

#create-account {
    width: 130px;
    padding: 5px 10px;
}

button {
    cursor: pointer;
}

.two-line-input {
    flex-direction: column;
}

/* .input {
    display: flex;
    flex-direction: column;
} */

/* #create-account-fs {
    display: block;

} */
