<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CRUDdy Cash - New Category</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= budget.name %></h1>
        <h3>New Category</h3>
        <form action="/budgets/<%= budget._id %>/categories" method="post">
            <fieldset aria-labelledby="new-entry-legend">
                <legend name="new-entry-legend">Create Category</legend>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="income-group">Is this income?</label>
                    <div name="income-group">
                        <label for="income-yes">Yes</label>
                        <input type="radio" id="income-yes" name="isIncome" value="true">
                        <label for="income-no">No</label>
                        <input type="radio" id="income-no" name="isIncome" value="false">
                    </div>
                </div>
                <button type="submit">Create</button>
            </fieldset>
        </form>
    </main>
</body>
</html>