<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>CRUDdy Cash - New Budget</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1>New Budget</h1>
        <form action="/budgets" method="post">
            <fieldset aria-labelledby="new-entry-legend">
                <legend name="new-entry-legend">Create Budget</legend>
                <div>
                    <label for="month">Month:</label>
                    <input type="month" name="month">
                </div>
                <button type="submit">Create</button>
            </fieldset>
        </form>
    </main>
</body>
</html>